mixin l_i(i = 1)
  while i-- > 0  
    label(for="") 
    input(id="")
 
mixin L_i(i = 1)
  while i-- > 0  
    label
      input
      
mixin fn_l_i(f,l,el = 1,fn = 'l')
  if fn == 'l'
    if f
      fieldset 
        if l
          legend 
          +l_i(el)
        else
          +l_i(el)
    else
      +l_i(el)
  else 
    if f
      fieldset 
        if l
          legend 
          +L_i(el)
        else
          +L_i(el)
    else
      +L_i(el)

mixin form(el = 1,fn = 'l',fieldset = 0,legend  = 0)
  form(action="#") 
    +fn_l_i(fieldset,legend,el,fn)

// 
  1
+form
// 
  2
+form(1,1)
// 
  3
+form(1,1,1,1)
//
  4
+form(5,1,1,1)
//
  5
+form(5,'l',1,1)




