img {
  aspect-ratio: 4 / 3;
  width: 100%;
  object-fit: contain;
}

/*  Наиболее распространенные соотношения  сторон
для фотографий – 4:3 и 3:2, а видео,
как правило, имеют соотношение сторон 16:9 или 4:3. */

/* object-fit: cover;  */
/* использует размер меньшей из сторон изображения */

/* object-fit: contain; */
/* используется большая из сторон */

 /* object-fit: none; */
/* изображение обрезается по центру  */
